.main {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;

}

.main-container {
  margin: 0 auto;
  width: 563px;
  height: 338px;
  background: url("src/assets/img/bg-title.png") no-repeat;

}

.wrapper-main-btn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.information-person {
  padding-top: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  color: white;
  -moz-text-shadow:0 0 10px #b89292; -webkit-text-shadow:0 0 10px #b89292; text-shadow:0 0 10px #b89292;
}

.information-person p:nth-child(1) {
  font-size: 20px;
  margin-left: 40px;
}

.information-person p:nth-child(2) {
  font-size: 10px;
  margin-left: 110px;
}
.wrapper-detail {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.information-detail {
  padding-top: 70px;
  width: 43%;
  color: white;
  font-size: 12px;
  -moz-text-shadow:0 0 10px #b89292; -webkit-text-shadow:0 0 10px #b89292; text-shadow:0 0 10px #b89292;
}

.information-detail-icon {
  margin-right: 5px;
}


.photo-title {

  width: 240px;
  height: 338px;
  background-color: rgb(6, 6, 6);
  box-shadow: 10px 5px 5px #b89292;
}

.photo-person {
  margin-top: 20px;
  margin-left: 45px;
}

.photo {
  margin-top: 20px;
  border: 2px solid #b89292;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo-info {
  margin-top: 40px;
  margin-left: 55px;
  color: white;
  -moz-text-shadow:0 0 10px #b89292; -webkit-text-shadow:0 0 10px #b89292; text-shadow:0 0 10px #b89292;
}

.empty {
  padding-top: 240px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  color: #d29d41;

}
